body {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  color: bisque;

  height: 100vh;
  justify-content: space-between;
}

/* utility classes */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* -------------- */

header {
  /* border: 2px solid; */
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  justify-content: center;
  align-items: stretch;
}

h1 {
  /* border: 2px solid; */
  font-size: 3rem;
}

body > * {
  /* border: 2px solid; */
}

.wrapper {
  /* border: 2px solid black; */
  justify-content: space-between;
  flex: 1;
}

.wrapper > * {
  /* border: 2px solid orange; */
  background-color: grey;
}

.pixel-container {
  aspect-ratio: 1;
}

.buttons-and-tools {
  flex-basis: 20%;
}
