* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  color: bisque;

  height: 100vh;
  justify-content: space-between;
}

/* utility classes */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* -------------- */

header {
  /* border: 2px solid; */
  text-align: center;
}

main {
  /* border: solid; */
  padding: 2rem;
}

h1 {
  /* border: 2px solid; */
  font-size: 3rem;
}

.wrapper {
  /* border: 2px solid black; */
  justify-content: space-between;
}

.wrapper > * {
  /* border: 2px solid orange; */
  background-color: white;
  border-width: 1rem;
  border-color: brown;
  border-style: ridge;
  border-radius: 0.5rem;
}

.pixel-container {
  aspect-ratio: 1;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.pixel {
  flex: auto;
  aspect-ratio: 1;
  flex-basis: 10%;
}

.grid-lines {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.buttons-and-tools {
  background-color: grey;
  flex-basis: 20%;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
}

.buttons-and-tools > * {
  gap: 1rem;
}

.page-container {
  /* border: 1px solid orange; */
  max-width: 100rem;
  margin-inline: auto;
}

.button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: darkcyan;
  color: bisque;
}
